extends ../_layouts/default

block vars
  -title        = 'News'
  -description  = 'Description of News'
  -keywords     = 'keywords of news'
  -bodyClass    = 'page-news'
  -path         = '..'

block container
  section.section-news-categories
  section.section-news-list
  section.section-news-related